@model Epic_Game_Backstage.ViewModels.ProductCeateViewModel

@{
    ViewBag.Title = "Create";
}

@section topCSS{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/Assets/css/ProductCreate.css" rel="stylesheet" />
}


<div id='app'>
    @*<div class="row justify-content-center">
            <div class="col-6">
                <ul class="nav navbar">
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" id="ProductInfo">Product Information</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" id="UploadInmage">Upload Image</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" id="SeeProduct">See Product</button>
                    </li>
                </ul>
            </div>
        </div>*@
    <h1 style="text-align:center; padding: 40px 0 70px">Create Product</h1>
    <div class="container ProductInfoPage">
        <h2>Basic Information:</h2>
        <div class="row">
            <div class="col-12">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="inputGroup-sizing-lg">Product Name</label>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing input"
                           aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
            <div class="col-12">
                <div class="input-group-prepend" style="margin-top:45px">
                    <label class="input-group-text" for="GameTtpeSelect">
                        Product
                        Type
                    </label>
                    <select class="custom-select" id="GameTtpeSelect">
                        <option value="Game">Game</option>
                        <option value="DLC">DLC</option>
                    </select>
                </div>
            </div>
            <div class="col-6 mg-75">
                <div class="input-group-prepend mb-3">
                    <label class="input-group-text" for="PublisherTextbox">Publisher</label>
                    <input type="text" class="form-control" aria-label="Sizing input"
                           aria-describedby="inputGroup-sizing-default" id="PublisherTextbox">
                </div>
            </div>
            <div class="col-6 mg-75">
                <div class="input-group-prepend mb-3">
                    <label class="input-group-text" for="DeveloperTextbox">Developer</label>
                    <input type="text" class="form-control" aria-label="Sizing input"
                           aria-describedby="inputGroup-sizing-default" id="DeveloperTextbox">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mg-75">
                    <label for="ProductIntro">Product Introduction:</label>
                    <textarea class="form-control" id="ProductIntro" rows="3"></textarea>
                </div>
                <label class="mg-75">Age restriction:</label>
                <div class="input-group-prepend mb-3">
                    <label class="input-group-text" for="AgeRestrictionTextbox">Ages</label>
                    <input type="text" class="form-control" aria-label="Sizing input" id="AgeRestrictionTextbox"
                           aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="PrivacyPolicyTextArea" class="mg-75">Privacy Policy:</label>
                    <textarea class="form-control" id="PrivacyPolicyTextArea" rows="3"></textarea>
                </div>
                <label class="mg-75">Privacy Policy Link:</label>
                <div class="input-group-prepend mb-3">
                    <label class="input-group-text" for="PrivacyPolicyLink">URL</label>
                    <input type="text" class="form-control" aria-label="Sizing input" id="PrivacyPolicyLink"
                           aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-12">
                <div class="Categories  mg-75">
                    <div>
                        <label id="inputGroup-sizing-lg">Product's categories:</label>
                    </div>
                    <!-- btn Area -->
                    <div>
                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Action" value="1"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_Action">Action</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Adventure" value="2"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_Adventure">Adventure</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Editors" value="4"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_Editors">Editors</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Puzzle" value="8"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_Puzzle">Puzzle</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Racing" value="16"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_Racing">Racing</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_RPG" value="32"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_RPG">RPG</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Shooter" value="64"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_Shooter">Shooter</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Strategy" value="128"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_Strategy">Strategy</label>
                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Survival" value="256"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_Survival">Survival</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_ControllerSupport" value="512"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary"
                               for="Ctgy_ControllerSupport">Controller Support</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_CoOp" value="1024"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_CoOp">Co-Op</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_SinglePlayer" value="2048"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_SinglePlayer">
                            Single
                            Player
                        </label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Multiplayer" value="4096"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary"
                               for="Ctgy_Multiplayer">Multi-player</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_Windows" value="8192"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_Windows">Windows</label>

                        <input v-model="CategoriesGroup" type="checkbox" id="Ctgy_MacOS" value="16384"
                               style="display: none;">
                        <label v-on:click="changeColor" class="btn btn-secondary" for="Ctgy_MacOS">Mac OS</label>

                    </div>
                </div>
            </div>
        </div>

        <h2 style="margin: 40px 0 20px;">Product's Images:</h2>
        <div class="row justify-content-center mg-75">
            <div class="col-4 card">
                <div class="card-body" style="display:flex; flex-direction: column; align-items:center">
                    <h4 style="text-align:center">Store Image</h4>
                    <div style="border: 1px solid #999; width:75%; margin-top: 10px">
                        <div id="StoreImageArea" style="padding-bottom: calc(4/3 * 100%); position: relative">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="custom-file" style="margin-top: 15px">
                        <input type="file" class="custom-file-input" id="StoreImage" v-on:change="showFile">
                        <label class="custom-file-label" for="StoreImage">Upload image</label>
                    </div>
                </div>
            </div>
            <div class="col-4 card">
                <div class="card-body">
                    <h4 style="text-align:center">Game Logo</h4>
                    <div style="border: 1px solid #999; margin-top:67.5px">
                        <div id="LogoImageArea" style="padding-bottom: calc(3/5 * 100%); position: relative">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="LogoImage" v-on:change="showFile">
                        <label class="custom-file-label" for="LogoImage">Upload image</label>
                    </div>
                </div>
            </div>
            @*<button v-on:click="test">test</button>*@
            <div class="col-12 card">
                <div class="card-body">
                    <h4 style="text-align:center">Swiper</h4>
                    <ul id="SwiperImageArea" class="row">
                        @*<Swiper-Compo v-for="item in swiperList" v-bind:swiper="item" v-bind:key="item.id"></Swiper-Compo>*@
                        <Swiper-Compo v-for="item in swiperList" v-bind:swiper="item"></Swiper-Compo>
                        @*<li class="col-3">
                            <div style="border: 1px solid #999;" class="swiper-wrap">
                                <div class="DeleteSwiper" id="DeleteSwiper">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div style="padding-bottom: calc(3/5 * 100%); position: relative">
                                    <div class="ImgArea">
                                        <img src="" alt="swiper" />
                                    </div>
                                </div>
                            </div>
                        </li>*@
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="SwiperImage" v-on:change="showFile" multiple>
                        <label class="custom-file-label" for="SwiperImage">Upload image</label>
                    </div>
                </div>
            </div>
        </div>

        <h2 style="margin: 40px 0 20px;">Product's Introduction:</h2>


    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/vue")

}
@section endJS{
    <script src="~/Assets/js/ProductManageCreate.js"></script>
}