@model Epic_Game.ViewModels.LibraryViewModel

<div class="col-12 col-lg-6 col-xl-4" id="game_div">
    <div class="product_pic">
        <img src="@Model.Img_Url" alt="game_picture" />
    </div>
    <h3>@Model.ProductName</h3>
    <i class="fas fa-link link_icon"></i>
</div>
