@model Epic_Game.ViewModels.LibraryViewModel

<div class="col-12 col-lg-6 col-xl-4 game_div" id="@Model.ProductId">
    <div class="game_div_insidebox">
        <div class="product_pic">
            <img src="@Model.Img_Url" alt="game_picture" />
        </div>
        <h3>@Model.ProductName</h3>
        <a class="link_icon" href="/Product/Index/@Model.ProductId">
            <i class="fas fa-link"></i>
        </a>
    </div>
    
</div>
