*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: rgb(15, 15, 15);
}

.ResetPasswordConfirmation-root{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.rpc-title{
    background-color: #202020;
    padding: 30px 10px;
}

.rpc-t-img img{
    width: 80px;
    height: 80px;
}

.rpc-t-input{
    margin-bottom: 20px;
}

.rpc-t-text{
    margin-bottom: 20px;
}

.rpc-t-text h3{
    color: rgba(255,255,255,0.5);
    font-weight: normal;
    font-family: Microsoft JhengHei;
    font-size: 25px;
}

.rpc-t-h-a{
    color: #e7e7e7;
    font-family: Microsoft JhengHei;
    font-size: 25px;
    font-weight: bold;
}

.rpc-t-h-a:hover{
    color: #e7e7e7;
}

hr{
    background-color: rgba(255,255,255,0.5);
}

.rpc-t-f-input p{
    color: rgba(255,255,255,0.5);
    font-weight: normal;
}