
@{
    ViewBag.Title = "ProductMore";
}

@section topCSS{
    <link href="~/Assets/css/EpicGameHant.css" rel="stylesheet" />
}

@section endJS{ 
    <script src="~/Assets/Js/EpicGameHant.js"></script>
}

<div class="container">
    <div class="row">

        <div class="container-fluid shopback">
            <div class="row">
                <div class="col">
                    <div class="NavListArea">
                        <div class="NavList">
                            <input type="checkbox" id="checkControl" class="check_control">
                            <label for="checkControl" class="checkBoxlabel">
                                Death Coming
                                <i class="fas fa-chevron-down"></i>
                            </label>
                            <div class="div_itemlist">
                                <ul class="itemList">
                                    <li><a href="@Url.Action("Index","Home")">Back to Store</a></li>
                                    <li>MEGA Sale | Games</li>
                                </ul>
                            </div>
                            <nav class="navbar navbar-dark">
                                <form class="form-inline">
                                    <input class="form-control  bg-outline-dark col-12 col-xl-12" type="search" placeholder="search"
                                           aria-label="Search" />
                                    <button class="searchbtn" disabled>
                                        <svg class="bi bi-search" width="1em" height="1em"
                                             viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                                  clip-rule="evenodd" />
                                            <path fill-rule="evenodd"
                                                  d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                                  clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </form>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="title_text">
                    <h1>MEGA Sale</h1>
                    <p>Up to 75% off + Get a $10 Coupon for every eligible purchase!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="new_mode_4">
                        <ul class="mode_4_ul">
                            <li class="col-6 col-md-3 mode_4_li">
                                <a href="">
                                    <div class="mode_4_img-2">
                                        <div class="imgArea" style="background-image: url('../../Assets/images/EpicGameStoreImg/asset 0.jpeg');"></div>
                                    </div>
                                    <div class="mode_4_text">
                                        <h4>Before We Leave</h4>
                                        <p>Balancing Monkey Games | Ba...</p>
                                        <h4>US$9.99</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3 mode_4_li">
                                <a href="">
                                    <div class="mode_4_img-2">
                                        <div class="imgArea" style="background-image: url('../../Assets/images/EpicGameStoreImg/asset 0.jpeg');"></div>

                                    </div>
                                    <div class="mode_4_text">
                                        <h4>Before We Leave</h4>
                                        <p>Balancing Monkey Games | Ba...</p>
                                        <h4>US$9.99</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3 mode_4_li">
                                <a href="">
                                    <div class="mode_4_img-2">
                                        <div class="imgArea" style="background-image: url('../../Assets/images/EpicGameStoreImg/asset 0.jpeg');"></div>
                                    </div>
                                    <div class="mode_4_text">
                                        <h4>Before We Leave</h4>
                                        <p>Balancing Monkey Games | Ba...</p>
                                        <h4>US$9.99</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3 mode_4_li">
                                <a href="">
                                    <div class="mode_4_img-2">
                                        <div class="imgArea" style="background-image: url('../../Assets/images/EpicGameStoreImg/asset 0.jpeg');"></div>
                                    </div>
                                    <div class="mode_4_text">
                                        <h4>Before We Leave</h4>
                                        <p>Balancing Monkey Games | Ba...</p>
                                        <h4>US$9.99</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3 mode_4_li">
                                <a href="">
                                    <div class="mode_4_img-2">
                                        <div class="imgArea" style="background-image: url('../../Assets/images/EpicGameStoreImg/asset 0.jpeg');"></div>
                                    </div>
                                    <div class="mode_4_text">
                                        <h4>Before We Leave</h4>
                                        <p>Balancing Monkey Games | Ba...</p>
                                        <h4>US$9.99</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
