* {
    padding: 0;
    margin: 0;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6, label, input, button, a {
    font-family: Microsoft JhengHei !important;
}

/* .mainlayout-root{
    display: block;
} */

body {
    display: block;
}

.mainlayout-header {
    position: sticky;
    top: 0;
    display: flex;
    /* justify-content: space-around; */
    background-color: #202020;
    box-sizing: border-box;
    height: 60px;

}

.m-h-title-a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

    .m-h-title-a:hover {
        text-decoration: none;
    }

.m-header-title {
    display: flex;
    align-items: center;
}

    .m-header-title img {
        width: 50px;
        height: 50px;
        /* margin: 10px 0px; */
    }

    .m-header-title h3 {
        color: white;
        font-family: monospace;
        font-size: 20px;
    }

.m-header-options {
    display: flex;
    align-items: center;
}

    .m-header-options label {
        color: white;
        cursor: pointer;
        position: absolute;
        right: 10px;
        font-size: 30px;
    }

.m-h-options-item li {
    margin-top: 30px;
    margin-left: 25px;
}

/* .m-h-options-item::after{
    content: "";
    border-top: 1px solid rgb(194, 194, 194);
    width: 100%;
    position: absolute;
    top: 225px;
} */

.m-h-options-item a {
    color: rgb(194, 194, 194);
    text-decoration: none;
}

    .m-h-options-item a:hover {
        color: white;
        transition: .3s;
    }

.m-h-options-item li:last-child a {
    color: rgba(255, 255, 255,.3);
}

    .m-h-options-item li:last-child a:hover {
        color: white;
        transition: .3s;
    }

.m-h-o-items-a i {
    margin: 0px 10px;
}


/* 以下為漢堡系列 */
.m-h-options-item {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #202020;
    width: 300px;
    height: 100vh;
    z-index: 1;
}

.main-layout-checkbox {
    display: none;
}

.m-h-o-items-a {
    font-size: 18px;
}

.main-layout-checkbox:checked ~ .m-h-options-item {
    display: initial;
}

.mainlayout-body {
    /* margin: 0px 5px; */
    box-sizing: border-box;
}

.m-body-renderbody{
    min-height: calc(100vh - 234px);
}

.mainlayout-footer {
    /* width: 100vh; */
    position: relative;
    background-color: #383737;
    color: white;
    bottom: 0;
    padding: 30px 23px;
    margin-top: 20px;
}

    .mainlayout-footer p {
        margin-bottom: 0;
        font-size: 13px;
        color: white;
        font-family: Microsoft JhengHei;
        margin-top: 20px;
    }

.m-footer-logo {
    margin-top: 20px;
}

    .m-footer-logo i {
        color: rgba(255, 255, 255,.3);
        font-size: 30px;
        cursor: pointer;
    }

        .m-footer-logo i:hover {
            color: white;
        }

.m-footer-pointword a {
    color: white;
    font-size: 13px;
    margin: 0px 10px;
}

    .m-footer-pointword a:hover {
        text-decoration: none;
        color: rgb(94, 150, 255);
        transition: .3s;
    }

@media screen and (min-width: 1024px){
    *{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    body{
        display: flex;
        /*flex-wrap: wrap;*/
    }

    /* .mainlayout-root{
        display: flex;
    } */

    .mainlayout-header{
        height: 100vh;
        flex-direction: column;
        padding: 10px 10px;
        width: 300px;
        box-sizing: border-box;
    }

    .m-header-options{
        flex-direction: column;
    }

    .main-layout-label{
        display: none;
    }

    .m-h-options-item{
        display: inherit;
        /* width: 100%; */
        background-color:transparent;
        /* margin-top: 50px; */
        left: 0;
        /*height: 600px;*/
    }

    .m-h-options-item li:last-child a{
        color: rgba(255, 255, 255,.3);
    }

    .m-h-options-item li:last-child a:hover{
        color: white;
        transition: .3s;
    }

    .m-h-o-items-a{
        text-align: center;
    }

    .mainlayout-body{
        width: calc(100vw - 300px);
    }

}

@media screen and (max-width: 890px) {

    /*.m-header-title h3{
        font-size: 15px;
    }

    .m-h-o-items-a {
        font-size: 15px;
    }*/
}