*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: rgb(15, 15, 15);
}

.fpc-root{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.fpc-input{
    background-color: #202020;
    padding: 30px 20px;
}

.fpc-img img{
    width: 80px;
    height: 80px;
}

.fpc-text h3{
    color: #e7e7e7;
}