* {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*Create*/
.activityManage_root {
    padding: 10px 30px;
/*    font-family: Microsoft JhengHei !important;*/
}
.activity_top p {
    margin-bottom: 0 !important;
}
.activityManage_title {
    background-color: #FFFFFF;
    width: 400px;
    border-radius: 12px;
    padding: 20px 20px 13px 20px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
}
.activityManage_title > h2 > i {
    color: #EF8157;
}

.activityManage_title > p {
    color: gray;
}

.activityManage_title > p > a {
    color: gray;
    text-decoration: none;
    padding-left: 10px;
    font-size: 14px;
}
.activity_header {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group-root {
    display: flex;
}

.form-group {
    display: flex;
    /*   align-items: flex-end;*/
    justify-content: center;
    font-size: 13px;
}

.form-group input {
    margin-right: 10px;
    margin-bottom: 13px;
    margin-left: 5px;
}

.form-group > p > label {
    font-size: 18px;
    color: #EF8157;
}

.f-group-btn {
    background-color: #EF8157;
    border: 1px solid #EF8157;
    font-family: Microsoft JhengHei;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

    .f-group-btn:hover {
        border-color: #EF8157;
        background-color: white;
        color: #EF8157;
        transition: .3s;
    }
/*Edit*/
.title{
    margin-left:20px;
    margin-top:10px;
}

.ImgArea {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}