@model IEnumerable<Epic_Game.ViewModels.WishListViewModel>

@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <link href="~/Assets/css/wishList.css" rel="stylesheet" />
}

@section endJS{
    <script src="~/Assets/Js/WishList.js"></script>
    <script src="https://kit.fontawesome.com/05f083f1a4.js" crossorigin="anonymous"></script>
}
<div class="container">
    <div class="row">
        <div class="col PageTitle">
            <ul class="NavList">
                <li><a href="@Url.Action("Index","Home")" class="backLink"><p>Back to store</p></a></li>
                <li><p class="PageTitleText">Wish List</p></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="wishList-Controll">
                <div class="sortArea">
                    <div class="sortLabelText">
                        <p class="sort_label">Sort by:</p>
                    </div>
                    <div class="sortSelectArea">
                        <input type="checkbox" id="sort_control" class="sort_checked">
                        <label for="sort_control" class="sortLabel">
                            Hot Sales
                            <i class="fas fa-chevron-up"></i>
                        </label>
                        <ul class="sort_list">
                            <li><button id="hot_sale"><p>Hot Sales</p></button></li>
                            <li><button id="recently"><p>Recently</p></button></li>
                            <li><button id="alphabet"><p>Alphabet</p></button></li>
                            <li><button id="price_true"><p>Price: Ascendent</p></button></li>
                            <li><button id="price_true"><p>Price: Descendent</p></button></li>
                        </ul>
                    </div>
                </div>
                <div class="searchArea">
                    <div class="search_div">
                        <input type="text" value="" class="search_text col" placeholder="Search">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="wishCount">
                        <p class="wishCount_text"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="wishListArea">
                        <ul class="wishlist-List">
                            @foreach (var item in Model)
                            {
                                @Html.Partial("Wishlist_partial", item)
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>