
@{
    ViewBag.Title = "Finish";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Assets/css/finish.css" rel="stylesheet" />

<div class="finish_screen">
    <div class="logo">
        <img src="~/Assets/images/EpicGamePayImg/logo.png" alt="logo">
    </div>
    <div class="text">
        <span>感謝您!</span>
        <span>電子信箱收據已寄送給您。</span>
        <span>請至收藏庫查看。</span>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")