@model Epic_Game.ViewModels.TransactionHistoryViewModel
@{
    ViewBag.Title = "_TransactionHistoryPartial";
}

<h2>_TransactionHistoryPartial</h2>

<tr>
    <td>@Model.PurchaseDate</td>
    <td>@Model.ProductName</td>
    <td>$@Model.Price</td>
</tr>