*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: rgb(15, 15, 15);
}

.ResetPassword-root{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.ResetPassword-form{
    background-color: #202020;
    padding: 30px 20px;
    width: 500px;
}

.ResetPassword-title{
    margin-bottom: 20px;
}

.rp-t-img img{
    width: 80px;
    height: 80px;
}

.rp-t-text h3{
    color: #e7e7e7;
}

.ResetPassword-item{
    margin-bottom: 20px;
}

.rp-i-e-label {
    color: #e7e7e7;
    font-size: 18px;
    font-family: Microsoft JhengHei;
}

.rp-i-e-input{
    background-color: rgb(61, 59, 59);
    border: none;
    padding: 10px 10px;
    color: #F4F4F4;
    width: 400px;
    font-weight: normal;
    font-family: Microsoft JhengHei;
    font-size: 18px;
}

.rp-i-p-label {
    color: #e7e7e7;
    font-size: 18px;
    font-family: Microsoft JhengHei;
}

.rp-i-p-input{
    background-color: rgb(61, 59, 59);
    border: none;
    padding: 10px 10px;
    color: #F4F4F4;
    width: 400px;
    font-weight: normal;
    font-family: Microsoft JhengHei;
    font-size: 18px;
}

.rp-i-cp-label {
    color: #e7e7e7;
    font-size: 18px;
    font-family: Microsoft JhengHei;
}

.rp-i-cp-input{
    background-color: rgb(61, 59, 59);
    border: none;
    padding: 10px 10px;
    color: #F4F4F4;
    width: 400px;
    font-weight: normal;
    font-family: Microsoft JhengHei;
    font-size: 18px;
}

.rp-e-button{
    background-color: #037BEE;
    padding: 10px 20px;
    font-family: Microsoft JhengHei;
    color: #e7e7e7;
    border: none;
    cursor: pointer;
    text-align: center;
}

.rp-e-button:hover{
    background-color: rgb(8, 99, 185);
}