.navbar{
    display: flex;
    justify-content: space-around;
}

.ProductInfoPage .row .col-12{
    margin: 20px 0;
}

.showCtgy label{
    padding: 0 10px;
    margin-right: 6px;
}

.swiper-container .rwd-iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
  .swiper-container .rwd-iframe .rwd-iframe__target {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 40px !important;
}

.ImageBorder {
    border: 1px solid #999;
    width: 25%;
}

.ImageGrid {
    padding-bottom: calc(3/5 * 100%);
    position: relative
}

.ImgArea {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}