
@{
    ViewBag.Title = "NewContent";
}

<header>
    <div class="Headimg"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h2>文明建立遊戲《Before We Leave》現已在 Epic Games Store 上推出</h2>
                <p class="Datetxt">2020.5.8</p>
                <p class="Authortxt">By Sam Barham</p>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <main>
                <article>
                    <p>
                        過去幾年是一段不可思議的旅程，我們非常感謝一路支持我們的所有人。《Before We Leave》現已在 Epic Games Store 上推出！可在這裡<a href="#"
                                                                                                         class="Dowa">下載</a>。
                    </p>
                    <p>在我們的遊戲中，你的任務是帶領你的人民。他們本來是穴居人，因為天災而被迫在地底居住。幾代人之後，你出現了。你必須重建文明，擴展社會到其他大陸，甚至其他星球之上。</p>
                    <img src="https://hmk1.azurewebsites.net/gamesimg/asset 1.png" alt="" class="d-block w-100 Sealandimg">
                    <p>
                        該遊戲的核心元素之一是資源管理，你必須拿出效率方能成功。
                        有效的資源管理將可讓你體驗不可思議的太空探索、發現遠古科技，並建立行星間的殖民網絡。在旅程中，你將面臨各種挑戰，例如遠古世界的守護者、災難後的毀滅，還有威脅的文明存續的飢餓太空鯨魚（對，真的有這種事）。除此之外，本遊戲還為玩家帶來幾乎無暴力、寧靜而風景優美的氛圍，讓玩家可以放鬆身心。
                    </p>
                    <img src="https://hmk1.azurewebsites.net/gamesimg/asset 2.png" alt="" class="d-block w-100 landimg">
                    <p>我建議不熟悉此遊戲的人在投入之前先放鬆心情。本遊戲是輕鬆的星際探索體驗，是一個充滿趣味的低壓環境。</p>
                    <p class="Ceotxt">- Sam Barham，Balancing Monkey Games 執行長</p>
                </article>
            </main>
        </div>
    </div>
</div>

@section topCSS
{
    <link href="~/Assets/css/Newscontentcss.css" rel="stylesheet" />

}

