*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: rgb(15, 15, 15);
}

.forgot-root{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.forgot-form{
    width: 500px;
    background-color: #202020;
    padding: 20px 10px;
}

.forgot-title{
    margin-bottom: 20px;
}

.f-title-img img{
    width: 80px;
    height: 80px;
}

.f-title-text h3{
    font-size: 25px;
    font-weight: bold;
    color: rgba(255,255,255,0.5);
    font-family: Microsoft JhengHei;
}

.forgot-input{
    margin-bottom: 20px;
}

.f-i-text-label{
    color: #e7e7e7;
    font-weight: normal;
    font-family: Microsoft JhengHei;
    font-size: 18px;
}

.f-i-text-input{
    background-color: rgb(61, 59, 59);
    border: none;
    padding: 10px 10px;
    color: #F4F4F4;
    width: 450px;
    font-weight: normal;
    font-family: Microsoft JhengHei;
    font-size: 18px;
}

.f-e-btn{
    background-color: #037BEE;
    padding: 10px 20px;
    font-family: Microsoft JhengHei;
    color: #e7e7e7;
    border: none;
    cursor: pointer;
    text-align: center;
}

.f-e-btn:hover{
    background-color: rgb(8, 99, 185);
}