*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.userManageList-root {
    padding: 10px 30px;
    font-family: Microsoft JhengHei;
}

.userManageList-title {
    background-color: #FFFFFF;
    width: 300px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
}

.userManageList-title h2>i{
    color: #EF8157;
}

.userManageList-tabel {
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    padding: 0px 20px;
}

.userManageList-tabel td{
    color: #9A9A9A;
}