
@{
    ViewBag.Title = "_AddOns";
}
    <div class="container allblock" id="additional">
        <div class="row">
            <div class="col-12 col-xl-3">
                <h3 class="title_name">Add-Ons</h3>
            </div>
            <a href="#" class="col-12 col-xl-9" style="text-decoration: none;">
                <div class="additional_content">
                    <div class="additional_pictext">
                        <div class="col-xl-6 content_image" style=" background-color: black;">
                            <div class="additional_pic">
                                <img src="~/Assets/images/EpicGameProduct/borderlands_add1.jpg" alt="" width="100%">
                            </div>
                        </div>
                        <div class="col-xl-6 title_text">
                            <div class="span_top">
                                <div class="span_tag">
                                    <span>ADDON</span>
                                </div>
                                <div class="span_title">Borderlands 3 Guns,Love,and Tentacles</div>
                            </div>
                            <div class="text_description">
                                <div class="additional_description_text">
                                    <span class="span_context" style="display: block; overflow: hidden;">
                                        Hammerlock and
                                        Wainwright's engagement party has been interrupted by deranged occultists.
                                        Reunite with old friends and team up with eerie new characters to help true
                                        love
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="additional_know col-12">
                        <div class="additional_know_right">
                            <div class="additional_know_rightrow">
                                <div class="pricewrapper">
                                    <div class="price">
                                        <div class="additional_pricecontainer col-12">
                                            <span class="price_original" style="color: #e7e7e7;">US$59.9</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="additional_btn">
                                    <div class="btn_left col-12">
                                        <div type="button" class="btn_buy">
                                            <span class="btn_buy_span">BUY NOW</span>
                                        </div>
                                        <div class="additional_btn_right">
                                            <div class="additional_btn_container">
                                                <div class="additional_btn_content">
                                                    <div class="btn_love">
                                                        <span>
                                                            <i class="far fa-heart"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

