@model Epic_Game.ViewModels.CommentItem
@{
    ViewBag.Title = "_Comments";
}

    <li class="grading_li col-12 col-md-4">
        <div class="grading_padding">
            <div class="author_content">
                <p class="comment_title" style="font-size: 15px;">@Model.Comment_Title</p>
                <p class="author_card_content">
                    <span>by </span><span id="commAuthor">@Model.Comment_UserName</span>
                </p>
            </div>
            <div class="author_card">
                <div class="autor_card_date" style="font-size: 15px;">@Model.Comment_Date</div>
                <p class="author_card_content" id="commContent">@Model.Comment_Description</p>
            </div>
            @*<div class="author_card_star star-rating">
                    <span class="fa fa-star-o" data-rating="1"></span>
                    <span class="fa fa-star-o" data-rating="2"></span>
                </div>*@
        </div>
    </li>

