
@{
    ViewBag.Title = "_Editions";
}

<div class="container allblock" id="version">
    <div class="row">
        <div class="col-12 col-xl-3 title_bg">
            <h3 class="title_name">Editions</h3>
        </div>
        <a href="#" class="" style="text-decoration: none;">
            <div class="cversion_content col-12 col-xl-9">
                <div class="version_pictext">
                    <div class="col-xl-6 content_image" style=" background-color: black;">
                        <div class="version_pic" style="text-align: center;">
                            <img src="~/Assets/images/EpicGameProduct/borderlands_version2.jpg" alt="" width="100%">
                        </div>
                    </div>
                    <div class="col-xl-6 title_text">
                        <div class="span_top">
                            <div class="span_tag" style="font-size: 10px;">
                                <span>EDITION</span>
                            </div>
                            <div class="span_title">
                                <span>Borderlands 3</span>
                            </div>
                        </div>
                        <div class="text_description">
                            <div class="version_description_text">
                                <span class="span_context" style="display: block; overflow: hidden;">
                                    The original
                                    shooter-looter returns, packing bazillions of guns and a mayhem-fueled
                                    adventure! Blast through new worlds & enemies and save your home from the
                                    most...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
        </a>
        <div class="version_know col-12">
            <div class="version_know_right">
                <div class="version_know_rightrow">
                    <div class="pricewrapper">
                        <div class="price">
                            <div class="version_pricecontainer col-12">
                                <span class="price_original" style="color: #e7e7e7;">US$59.9</span>
                            </div>
                        </div>
                    </div>
                    <div class="version_btn">
                        <div class="btn_left col-12">
                            <div type="button" class="btn_buy">
                                <span class="btn_buy_span">BUY NOW</span>
                            </div>
                            <div class="version_btn_right">
                                <div class="version_btn_container">
                                    <div class="version_btn_content">
                                        <button class="game_pic_btn_love btn_love" id="btnheart">
                                            <span><i id="fa" class="far fa-heart"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>