.game_div_insidebox img {
    height: 100%;
    width: 100%;
}

.game_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
}

.game_div_insidebox {
    width:100%;
    background-color: rgb(35,35,35);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px 15px 15px;
}

    .game_div_insidebox h3 {
        font-size: 20px;
        margin-left: 10%;
        text-align: center;
    }

.product_pic{
    max-width:120px;
    height:140px;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}