*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: #151515;
}

/* ===============以下曾莞婷=================== */

/*.navbar{
    padding: 0rem 0rem;
}

 .NavListArea{
     width: 100%;
    display: flex;
    align-content: center;
    height: 80px;
    background-color: #151515;
}
.shopback{
    
    background-color: #151515;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
}   
.shopback ul{
    padding: 0;
}
.checkBoxlabel{
    margin: 0;
    justify-content: center;
    align-items: center;
}
.NavList{
    padding: 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_itemlist{
    position: absolute;
    bottom: -99%;
    width: 100%;
    text-align: center;
}
.div_itemlist,.check_control{
    display: none;
}
.check_control:checked ~ .div_itemlist{
    display:initial;
}
.checkBoxlabel{
    color: #e7e7e7;
}*/

._stickyTop{
    position:sticky;
    top:60px;
    background-color:#151515;
    z-index:1;
}

.itemList {
    background-color: #151515;
}

.itemList a{
    text-decoration: none;
    color: #e7e7e7;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.itemList li{
    color: rgb(105, 105, 105);
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
}
.fa-chevron-down{
    color: #e7e7e7;
}
/* 導覽列 */
.NavListArea {
    display: flex;
    align-content: center;
    height: 80px;
}

.checkBoxlabel {
    margin: 0;
    justify-content: center;
    align-items: center;
}

.NavList {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_itemlist {
    position: absolute;
    bottom: -99%;
    width: 100%;
    background-color: #151515;
    text-align: center;
}

.div_itemlist, .check_control {
    display: none;
}

    .check_control:checked ~ .div_itemlist {
        display: initial;
    }

.checkBoxlabel {
    color: #e7e7e7;
}

.itemList a {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.itemList li {
    color: #e7e7e7;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.fa-chevron-down {
    color: #e7e7e7;
}
/* 搜尋 */
.navbar input {
    background-color: #151515;
    color: white;
}

.navbar {
    position: absolute;
    right: 0;
    padding:0;
    margin:0;
    padding-right:1.8em;
    padding-left:15px;
}

    .navbar .form-control {
        display: none;
    }

.searchbtn {
    background-color: #151515;
    color: #e7e7e7;
    border: none;
    margin-left: 4px;
    position: absolute;
    right: 0;
}

.form-inline {
    display: contents;
}

@media screen and (min-width: 768px){
    ._stickyTop {
        position: sticky;
        top: 0px;
        background-color: #151515;
        z-index: 1;
    }
}

@media screen and (min-width: 1024PX) {
    ._stickyTop {
        position: sticky;
        background-color: #151515;
        z-index: 1;
        padding-left:25px
    }

    .carousel-inner  iframe{
        height: 500px;
    }

    .div_itemlist{
        position: initial;
        display: flex;
        flex-direction: row;
        background-color: #151515;
    }
    .itemList{
        display: flex;
    }

    .itemList a{
        color: #e7e7e7;
        font-weight: bold;
    }


    .itemList a:hover{
        left: -10px;
        color: #e7e7e7;
    }
    .itemList li{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .checkBoxlabel{
        display: none;
    }
    .div_itemlist li+li{
        padding-left: 20px;
    }


    .navbar-dark input {
        background-color:black;
        color:white;
    }
    
    .navbar {
        margin:0px 0px;
        padding-left:0px;
    }

}


/* ===============以上曾莞婷=================== */
.EpicGameTitle{
    width: 100%;
}

.wishList-Controll{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding: 20px;
}
.sortArea{
    display: flex;
    justify-content: start;
}
.sort_label{
    font-weight: 200;
    color: #6d6d6d;
}
.sortSelectArea{
    position: relative;
    margin-left: 15px;
}
.sort_checked{
    display: none;
}
.sort_checked .fas{
    transition-duration: .3s;
}
.sort_list{
    position:absolute;
    display: none;
    left: 0;
    top: 30px;
    width: 160px;
    background-color: rgb(35,35,35);
    padding: 10px;
    z-index: 2;
}
.sortLabel{
    width: 100px;
}
.sortLabel p, .wishCount p{
    display: inline-block;
    font-weight: 300;
    color: #e7e7e7;
}
.sort_list button{
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    color: #e7e7e7
}
.sort_checked:checked ~ .sort_list{
    display: initial;
}

.EpicGameBrowse{
    display: flex;
    width: 100%;
}

.mvc{
    width: 270px;
    height: 100%;
    display: none;
}

/* ====================================== */
.mode_4_li a{
    text-decoration:none;
}

.mode_4_li{
    padding: 10px;
}

.col-12{
    padding: 0px;
}

.mode_4_ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.mode_4_img-2{
    padding-bottom: calc(4/3 * 100%);
    position: relative;
}

.mode_4_text h4{
    color: #e7e7e7;
    font-size: 18px;
}

.mode_4_text p{
    color: #cccccc;
    font-size: 14px;
}

.imgArea{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
    background-repeat:no-repeat;
    background-position: bottom;
}

@media screen and (min-width: 1024PX) {
    .mvc {
        display: block;
    }
}

/* ===================================一下篩選器==================================== */

ul.mtree {
    opacity: 0;
    margin-left: 0;
    padding: 1.2em;
}

    ul.mtree ul {
        margin-left: 1em;
    }

    ul.mtree li {
        list-style: none;
    }

    ul.mtree a {
        display: block;
    }

    ul.mtree li.mtree-node > a {
        font-weight: bold;
    }

    ul.mtree a {
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        /*-ms-transition: all 300ms ease-out;*/
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }

    ul.mtree.transit {
        background: #151515;
    }

        ul.mtree.transit ul {
            margin-left: 0;
        }

            ul.mtree.transit ul > li {
                font-size: .9em;
            }

        ul.mtree.transit li.mtree-node {
            position: relative;
        }

            ul.mtree.transit li.mtree-node > a:before {
                color: #CCC;
                font-weight: normal;
                position: absolute;
                right: 20px;
            }

        ul.mtree.transit li.mtree-open > a:before {
            content: '∧';
        }

        ul.mtree.transit li.mtree-closed > a:before {
            content: '∨';
        }

        ul.mtree.transit ul > li:first-child {
            margin-top: 1px;
        }

        ul.mtree.transit li.mtree-open > a {
            background: #222;
        }

        ul.mtree.transit li > a:hover, ul.mtree.transit li.mtree-active > a {
            background: #333;
            color: #FFF;
        }

        ul.mtree.transit li.mtree-node > ul > li:last-child {
            margin-bottom: .5em;
            padding-bottom: .5em;
            border-bottom: 1px solid #333;
        }

        ul.mtree.transit li.mtree-node:last-child > ul > li:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        ul.mtree.transit a {
            padding: 5px 0px 5px 0.8em;
            color: #CCC;
        }

        ul.mtree.transit li li > a {
            padding-left: 1.6em;
        }

        ul.mtree.transit li li li > a {
            padding-left: 2.4em;
        }

        ul.mtree.transit li li li li > a {
            padding-left: 3.2em;
        }

        ul.mtree.transit li li li li li > a {
            padding-left: 4em;
        }

.mtree-demo .mtree {
    background: #EEE;
    margin: 20px auto;
    max-width: 320px;
    border-radius: 3px;
}

.mtree-skin-selector {
    text-align: center;
    background: #EEE;
    padding: 10px 0 15px;
}

    .mtree-skin-selector li {
        display: inline-block;
        float: none;
    }

    .mtree-skin-selector button {
        padding: 5px 10px;
        margin-bottom: 1px;
        background: #BBB;
    }

        .mtree-skin-selector button:hover {
            background: #999;
        }

        .mtree-skin-selector button.active {
            background: #999;
            font-weight: bold;
        }

        .mtree-skin-selector button.csl.active {
            background: #FFC000;
        }

/* ===================================一上篩選器==================================== */