*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: #151515;
}

/* ==========================以下曾莞婷============================= */

.NavListArea{
    display: flex;
    align-content: center;
    height: 80px;
}
.shopback{
    background-color: #151515;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.shopback ul{
    padding: 0;
}
.checkBoxlabel{
    margin: 0;
    justify-content: center;
    align-items: center;
}

.NavList{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_itemlist{
    position: absolute;
    bottom: -99%;
    width: 100%;
    background-color: #151515;
    text-align: center;
}
.div_itemlist,.check_control{
    display: none;
}
.check_control:checked ~ .div_itemlist{
    display:initial;
}
.checkBoxlabel{
    color: #e7e7e7;
}
.itemList a{
    text-decoration: none;
    color: #e7e7e7;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.itemList li{
    color: #e7e7e7;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.fa-chevron-down{
    color: #e7e7e7;
}

._stick {
    position: sticky;
    top: 60px;
    z-index: 1;
    background-color: #151515;
}
/* 搜尋 */
.navbar input {
    background-color: #151515;
    color: white;
}
.navbar{
    position: absolute;
    right: 0;
    padding:0em;
    margin:0;
    padding-right:1.8em;
}
.navbar .form-control{
    display: none;
    
}
.searchbtn{
    background-color: #151515;
    color: #e7e7e7;
    border: none;
    margin-left: 4px;
    position: absolute;
    right: 0;
}
.form-inline{
    display: contents;
}

.rowpadding{
    padding-left:15px;
}

@media screen and (min-width: 768px){
    ._stick {
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: #151515;
    }
}

@media screen and (min-width: 1024px) {
    .div_itemlist{
        position: initial;
        display: flex;
        flex-direction: row;
    }
    .itemList{
        display: flex;
    }
    .itemList a{
        color: #757575;
    }
    .itemList a::before{
        content: "< ";
    }
    .itemList a:hover{
        left: -10px;
        color: #e7e7e7;
    }
    .itemList li{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .checkBoxlabel{
        display: none;
    }
    .div_itemlist li+li{
        padding-left: 16px;
    }
    .div_itemlist li:first-child::after{
        content: '';
        position: relative;
        border-right: 1px solid #e7e7e7;
        right: -10px
    }
    .itemList a{
         padding-left: 0px; 
    }
    .navbar input {
        background-color:black;
        color:white;
    }
}

/* ==========================以上曾莞婷============================= */

.row + .row{
    padding-top: 50px;
}

.mode_4_li a{
    text-decoration:none;
}

.mode_4_li{
    padding: 10px;
}

.col-12{
    padding: 0px;
}

.mode_4_ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.mode_4_img-2{
    padding-bottom: calc(4/3 * 100%);
    position: relative;
}

.mode_4_text h4{
    color: #e7e7e7;
    font-size: 18px;
}

.mode_4_text p{
    color: #cccccc;
    font-size: 14px;
}

.imgArea{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
    background-repeat:no-repeat;
    background-position: bottom;
}

.title_text{
    color: #F5F5F5;
}