*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color:rgb(15,15,15);
    
}
.finish_screen{
    position: absolute;     /*絕對位置*/
    top: 50%;               /*從上面開始算，下推 50% (一半) 的位置*/
    left: 50%;              /*從左邊開始算，右推 50% (一半) 的位置*/
    margin-top: -110px;     /*高度的一半*/
    margin-left: -113px;
}
.logo{
    text-align: center;
}
img{
    width: 150px;
}
.text{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
span{
    font-size: 20px;
    margin: 5px;
    color: #e7e7e7;
}