* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background-color: #151515;
}
.Allgroups {
    font-family: Microsoft JhengHei;
    display: flex;
    width: 100%;
}
.Cardgroup .container .row .col-xl-6, .Cardgroup .container .row .col-lg-12,
.Cardgroup .container .row .col-sm-12, .Cardgroup .container .row .col-md-12 {
    padding: 0;
}
.newsitemgroup {
    margin-bottom: 28px;
}
.Allcardgroup {
    background-color: #151515;
    width: 100%;
}
.Allgroups .Allcardgroup .Titleclass {
    height: 60px;
    display: flex;
    margin-top: 10px;
}
.Cardgroup {
    width: 100%;
    background-color: #151515;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right:3%;
    margin-top:-15px;
}

    .Cardgroup .container {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }

.Allcardgroup h3 {
    font-size: 16px;
    color: rgb(105, 105, 105);
    margin-left: 4%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.newsitem {
    background-color: rgb(36, 35, 35);
}

    .newsitem a {
        text-decoration: none;
        color: white;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        height: 100%;
        transition: 0.5s;
    }

    .newsitem:hover .card-img-top {
        filter: brightness(115%);
    }

.card-text, .Announcer {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 0 7%;
}
.newsitem a:hover {
    background-color: rgb(56, 55, 55);
}
/*.newsitem:hover .card-text {
    background-color: rgb(56, 55, 55);
}*/

/*.newsitem:hover .Announcer {
    background-color: rgb(56, 55, 55);
}*/

.newsitem .card-text {
    padding-top: 7%;
    font-size: 20px;
}

.newsitem .Announcer {
    padding-bottom: 5%;
    font-size: 15px;
}


@media screen and (max-width:1199px) {
    .newsitem {
        margin: 15px 0;
    }
    .newsitem a {
        display: flex;
        flex-direction: column;
    }

    .card-img-top {
        order: 1;
    }
    .Cardgroup {
        margin-top: -23px;
    }
    .newsitemgroup {
        margin-bottom: 0;
    }
}

@media screen and (min-width:1200px) {
    .newsitem {
        margin: 2%;
        height: 100%;
    }
}

@media screen and (max-width:992px) {


    .Allcardgroup {
        padding-left:2%;
        padding-right:5%;
        width: 100%
    }

        .Allcardgroup h3 {
            margin-bottom: -2%;
        }

    .newsitem {
        margin: 4% 0;
    }

    .container {
        max-width: none;
    }
}

@media screen and (max-width:768px) {
    .Allcardgroup h3 {
        margin-bottom: -1%;
    }
}

@media screen and (max-width:576px) {
    .newsitem .card-text {
        font-size: 20px;
    }

    .newsitem .Announcer {
        font-size: 15px;
    }
}
