* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Allgroups {
    font-family: Microsoft JhengHei;
    display: flex;
    width: 100%;
}

ul {
    height: 100%;
    background-color: rgb(39, 37, 39);
    color: white;
    margin-bottom: 0px;
}


.col-xl-6, .col-lg-12,
.col-sm-12, .col-md-12 {
    padding: 0;
}

.Allcardgroup {
    background-color: rgb(2, 2, 2);
    width: 100%;
}

.Cardgroup {
    width: 100%;
    background-color: rgb(2, 2, 2);
    box-sizing: border-box;
    padding-left: 3%;
}

    .Cardgroup .container {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }

.Allcardgroup h3 {
    font-size: 15px;
    color: rgb(111, 113, 116);
    padding-top: 3%;
    margin-left: 4%;
}

.newsitem {
    background-color: rgb(36, 35, 35);
}

    .newsitem a {
        text-decoration: none;
        color: white;
        margin-top: 0;
        margin-bottom: 0;
    }

    .newsitem:hover .card-img-top {
        filter: brightness(115%);
    }

.card-text, .Announcer {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 0 7%;
    transition: 0.5s;
}

.newsitem:hover .card-text {
    background-color: rgb(56, 55, 55);
}

.newsitem:hover .Announcer {
    background-color: rgb(56, 55, 55);
}

.newsitem .card-text {
    padding-top: 7%;
}

.newsitem .Announcer {
    padding-bottom: 5%;
}

.Onlinefirendgroup {
    min-width: 370px;
    position: relative;
    background-color: rgb(2, 2, 2);
    padding: 2% 3% 0 3%;
    display: flex;
    justify-content: center;
}

.Onlinefirend {
    background-color: rgb(2, 2, 2);
    position: fixed;
}

.startimg {
    transition: .3s;
    width: 300px;
}

.Startgroup {
    position: relative;
    cursor: pointer;
}

.startimg img {
    width: 100%;
}

.Startgroup:hover .startimg {
    background-color: rgb(11, 85, 223);
}

    .Startgroup:hover .startimg img {
        width: 100%;
        opacity: 0;
    }

.imgtxt {
    display: none;
}

.Startgroup:hover .imgtxt {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Fbgroup {
    color: white;
    width: 300px;
    height: 90px;
    background-color: rgb(75, 105, 189);
    padding: 0 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .Fbgroup:hover {
        background-color: rgb(112, 133, 192);
    }

    .Fbgroup i {
        color: rgb(33, 33, 82);
        font-size: 45px;
    }

.Gamesfriendtxt {
    font-size: 15px;
    color: rgb(111, 113, 116);
}

.Friend {
    margin-top: 15%;
}

@media screen and (max-width:1200px) {
    .newsitem {
        margin: 3% 0;
    }

    .Allcardgroup h3 {
        margin-bottom: -1%;
    }

    .newsitem a {
        display: flex;
        flex-direction: column;
    }

    .card-img-top {
        order: 1;
    }
}

@media screen and (min-width:1200px) {
    .newsitem {
        margin: 2%;
    }
}

@media screen and (max-width:992px) {
    ul {
        display: none;
    }

    .Onlinefirendgroup {
        display: none;
    }

    .Allcardgroup {
        padding: 51px 5% 0 2%;
        width: 100%
    }

        .Allcardgroup h3 {
            margin-bottom: -2%;
        }

    .newsitem {
        margin: 4% 0;
    }

    .container {
        max-width: none;
    }
}

@media screen and (max-width:768px) {
    ul {
        display: none;
    }

    .Onlinefirendgroup {
        display: none;
    }

    .Allcardgroup h3 {
        margin-bottom: -1%;
    }
}
